/* ######################### Body ######################### */

body {
    text-align: center;
}


/* ######################### Main UI Div ######################### */

#newUserFormHead {
    margin-bottom: unset;
}


/** ############### New User Form ############### */

#createUserForm {
    display: flex;
    flex-direction: column;
}

#createUserForm input,
select,
button {
    margin: auto;
}


/* ######################### User Divs ######################### */


/** ############### Edit Divs ############### */

.editDivs input {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}