body {
    width: 50%;
    margin: auto;
}

#uiDiv {
    display: flex;
    justify-content: space-between;
}

#postsDiv {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}